

 <% if @filtered_items.length == 0  %>

 <h1>no result found</h1>
 <% else %>
    
<div>
<% @filtered_items.each do |f| %>

 <p> <%= f.title %></p> 
 <%# <%=  link_to f.title , %> 
 <a href="/blogs/<%= f['id'] %>"> <%= f.title %> </a>

      
<% end %>
</div>


<% end %>
