    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');
     :root {
        --primary: #6610F2;
        --text: #808080;
        --bg-color: #A36AFF;
    }
    
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    .navbar-m {
        height: 80px;
        /* background-color: black; */
        width: inherit;
    }
    
    .logo {
        font-size: 35px;
        font-weight: bold;
        padding-left: 100px;
        line-height: 80px;
        color: var(--primary);
    }
    
    .navbar-m .text-holder {
        float: right;
        margin-right: 100px;
    }
    
    .navbar-m .text-holder li {
        display: inline-block;
        margin: 0 8px;
        line-height: 80px;
        text-transform: capitalize;
        margin-left: 30px;
    }
    
    .text-holder li a {
        font-size: 18px;
        text-decoration: none;
        color: var(--text);
        padding-bottom: 10px;
    }
    
    .text-holder li a:hover {
        border-bottom: 2px solid var(--primary);
        color: var(--primary);
    }
    
    .text-holder li .getsign {
        color: var(--primary);
        border: 2px solid var(--primary);
        /* border-radius: 20px; */
        padding: 5px 10px;
        transition: ease-in-out 0.5s;
        box-shadow: none;
    }
    
    .text-holder li .getsign:hover {
        transition: ease-in-out 0.5s;
        box-shadow: 0px 50px var(--primary) inset;
        color: white;
    }
    
    .navbar-m #icon-menu {
        font-size: 30px;
        float: right;
        color: var(--primary);
        cursor: pointer;
        margin-right: 40px;
        line-height: 80px;
        display: none;
    }
    /* navbar ends */
    /* footer starts */
    
    .footer-m {
        position: relative;
        width: 100vw;
        height: auto;
        bottom: 0;
        display: flex;
        /* background-color: black; */
    }
    
    .footer-m .box-one .logo {
        padding: 0;
    }
    
    .footer-m .box-one {
        display: block;
        margin-left: 100px;
    }
    
    .box-one p {
        text-align: left;
        width: 200px;
        font-size: 18px;
        font-weight: 400;
        color: var(--text);
    }
    
    .box-one ul {
        padding: 0;
    }
    
    .social-box li {
        display: inline-block;
    }
    
    .social-box li a {
        color: var(--text);
        font-size: 50px;
        margin-right: 30px;
    }
    
    .social-box li a:hover {
        color: black;
    }
    
    .box-one .web-design {
        color: var(--bg-color);
    }
    
    .menu-footer {
        bottom: 0;
        position: absolute;
    }
    
    .menu-footer li {
        display: inline-block;
        margin-left: 100px;
    }
    
    .menu-footer li a {
        text-decoration: none;
        color: var(--text);
    }
    
    .menu-footer li a:hover {
        color: black;
    }
    
    .box-two {
        height: auto;
        width: auto;
        position: relative;
        padding: 10px;
        margin-left: 50px;
    }
    
    .box-two form {
        border: 1px solid var(--text);
        padding: 10px;
    }
    
    .box-two form :nth-child(1) {
        border: none;
        border-radius: 20px;
        padding: 10px;
    }
    
    .box-three {
        position: relative;
        padding: 10px;
    }
    
    footer {
        display: flex;
    }
    
    .col-lg {
        left: 0;
        margin-left: 20px;
    }
    /* mobile responsive */
    /* mobile responsive */
    /* mobile responsive */
    /* mobile responsive */
    
    @media(max-width: 1048px) {
        .logo {
            font-size: 28px;
        }
        .text-holder {
            margin-right: 20px;
        }
        .text-holder li a {
            font-size: 17px;
            transition: ease-in-out 0.1s;
        }
        .text-holder li:hover {
            border-left: 5px solid var(--primary);
            padding-left: 5px;
            transition: ease-in-out 0.2s;
        }
        .text-holder li .getsign {
            border: none;
            padding: 0;
        }
        .text-holder li .getsign:hover {
            transition: ease-in-out 0.5s;
            box-shadow: none;
            color: white;
        }
    }
    
    @media(max-width: 900px) {
        .navbar-m #icon-menu {
            display: block;
        }
        .logo {
            font-size: 25px;
            padding: 0 50px;
        }
        .navbar-m .text-holder {
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: rgba( 255, 255, 255, 1);
            top: 80px;
            text-align: left;
            left: -100%;
        }
        .navbar-m .text-holder li {
            display: block;
            line-height: 30px;
            margin: 10px 0;
        }
        .navbar-m .text-holder li a {
            color: black;
        }
        .navbar-m .text-holder li a:hover {
            color: var(--primary);
            border: none;
        }
        .navbar-m ul.show {
            left: 0;
            z-index: 10;
        }
        .footer-m {
            display: block;
        }
        .footer-m .box-one {
            margin-left: 30px;
        }
        .menu-footer li {
            margin-left: 15px;
        }
        .menu-footer {
            position: relative;
        }
        footer {
            display: block;
        }
        .box-two {
            margin-left: 20px;
        }
        .box-three {
            left: 0;
        }
    }