<div class="container">


    <div class="items-holder">

        <div class="switch-holder">
            <div class="btn btn-success" onclick="hidechat()">blog</div>
            <div class="btn btn-danger" onclick="showchat()"> chatroom</div>
        </div>
        <div class="blog-chat-holder">
            <div class="blog" id="blog">
                <h1>blog</h1>
            </div>
            <div class="chat" id="chat">
                <h1>chat
                </h1>
            </div>
        </div>
        <%= render "render/footer" %>
    </div>
</div>


<script>
    function showchat(){
        var chat = document.getElementById("chat");
        var blog = document.getElementById("blog");
        chat.classList.remove("chat");
        blog.classList.remove("blog");
        blog.classList.add("blog-swap");
        chat.classList.add("chat-swap");
    }

function hidechat(){
    var chat = document.getElementById("chat");
    var blog = document.getElementById("blog");
        chat.classList.add("chat")
        blog.classList.add("blog");
        blog.classList.remove("blog-swap");
        chat.classList.remove("chat-swap");

}
</script>