*{
    font-family: 'Poppins', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
 }

a{
    text-decoration: none !important;
}
body{
    background-color: var(--bg);
    /* transition: all ease-in-out 0.2s; */
}
.E-holder{
    background-color: var(--bg);
}
:root{ 

    /* color theme */

    --primary: #0085ff;
    --secondary: #004F99;  /* LINKED TEXT AND NAVBAR */
    --tertiary: #003566;
    --bg: white;
    --bg-2: #E9F5F4;
    --p-text:  #003566;
    --s-text:  #5D7F9E;
    --b-p-text: black;
    --b-s-text: #4d4d4d;
    --p20:#E9F0F6;

    --hover:#0085ff;

    /* font size */
    --font-header: 2.3rem;
    --font-text: 1rem;
    --font-header-spacing: 3rem;
    --font-text-spacing: 1.625rem;
}

.darkmode{
    

        /* color theme */
    
        --primary: #0085ff;
        --secondary: #004F99;  /* LINKED TEXT AND NAVBAR */
        --tertiary: #003566;
        --bg: #121212;
        --p-text:  #003566;
        --s-text:  #5D7F9E;
        --b-p-text: white;
        --b-s-text: #4d4d4d;
        --p20:#E9F0F6;
         --bg-s: #161616;
    
        /* font size */
        --font-header: 2.3rem;
        --font-text: 1rem;
        --font-header-spacing: 3rem;
        --font-text-spacing: 1.625rem;
    
}


.bg-holder-1{
    background-color: var(--bg-s);
    z-index: 2;
}
.bg-holder-2{
    background-color: var(--bg);
}

.text{
    color: var(--b-p-text);
}

.t-header{
    font-size: 3rem;
    font-weight: 500;
}

.btn.btn-outline-kodo{
    color: var(--b-p-text);
    border-color: var(--b-p-text) ;
}
.btn.btn-outline-kodo:hover{
    background-color: black;
    color: var(--primary);
}

.blue{
    color: var(--primary);
}