<nav class="navbar-m">

    <a href="/"> <label class="logo"> CODO </label></a>
    <ul id="nav-bar" class="text-holder ">
        <li> <a href="/courses/courses">Courses</a> </li>
        <li> <a href="/abouts/about">About</a> </li>
        <li> <a target="blank" href="#">Community</a> </li>
        <%# <li> <a href="# ">login</a> </li> %>
        <%# <li> <a class="getsign" href="#">get started</a> </li> %>
        <li>
            <i id="dark" class='bx bxs-moon' onclick="darkmode()" ></i>
        </li>
    </ul>

    <label id="icon-menu" onclick="myMenu()">
        <i id="close" class='bx bx-menu'></i>
        </label>
</nav>